<div class="row mb-5">
  <div class="col">
    <%= link_to 'User Control Panel', control_panel_path %>
  </div>

  <div class="col text-right">
    <% if user_signed_in? %>
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Sign in/Create Account', new_user_session_path %>
    <% end %>
  </div>
</div>

<div class="row">
</div>

<div class="row">
  <% @users.each do |u| %>
    <div class="col user user-status-<%= u.status %>">
      <div class="user-image">
        <%= gravatar_image_tag(u.email, filetype: 'png', gravatar: { size: 200 }) %>
      </div>
      <p class="user-name lead">
        <%= u.friendly_name %>
      </p>
      <p class="user-status lead">
        <%= u.status_message %>
      </p>
    </div>
  <% end %>
</div>
